body {
  justify-content: center;
  /* background-color: rgb(120, 201, 183); */
}

#main-container {
  background-color: rgb(37, 141, 167);
  text-align: center;
  min-height: 100vh;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none ;
  color:rgb(126, 18, 153)
}

.nav-active {
  color: brown;
  font-weight: bold;
}

/* Botones */
button {
  border-radius: 5px;
}

/* Modo oscuro/claro */
.theme-dark{
background-color: rgb(13, 114, 92);
color: #ffffff;
/* width: 90vh; */
}

.theme-light{
background-color: rgb(179, 218, 209);
color: #000000;
}
.dark-btn {
  background-color: rgb(5, 68, 68);
  color: rgb(255, 255, 255)
} 

.light-btn {
  background-color: rgb(155, 187, 183);
  color: rgb(5, 68, 68)
} 
