body {
  justify-content: center;
  background-color: rgb(120, 201, 183);
}

#main-container {
  background-color: rgb(37, 141, 167);
  text-align: center;
  min-height: 100vh;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none ;
  color:rgb(126, 18, 153)
}

.nav-active {
  color: brown;
  font-weight: bold;
}