/* ===============================
   PÁGINA CATEGORY COMPARE
   =============================== */


.compare-wrapper {
  /* padding: 4%; */
  /* position: fixed; */
  margin-left: 30px;
  top: 150px;
  /* z-index: 1000; */
  padding: 20px;
  overflow: auto;
  min-width: 600px;

}

.compare-div-wrapper {
  overflow-x: auto;
  /* activa scroll horizontal */
  display: flex;
  padding: 10px;
  margin-bottom: 60px;
}

.Title-Volver-wrapper{
  display: flex;
  justify-content: space-between;
}

.btn-volver {
  max-height: 40px;
  border-radius: 8px;
  background: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 20px;
}

.btn-volver:hover {
  opacity: 0.8;
}
.compare-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 /* No permite que las tarjetas se muevan a la siguiente línea */
  /* separación entre tarjetas */
}

#categorySelect {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.2s, box-shadow 0.2s;

}

#categorySelect-label {
  font-size: 30px;
}