/* ===============================
   PÁGINA CATEGORY COMPARE
   =============================== */


.compare-wrapper {
  /* padding: 4%; */
  /* position: fixed; */
  margin-left: 30px;
  top: 150px;
  /* z-index: 1000; */
  padding: 20px;
  overflow: auto;
  min-width: 600px;
 
}

.compare-div-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  justify-content: center;
  /* flexbox para las tarjetas */
}

.compare-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* permite que las tarjetas se muevan a la siguiente línea */
  gap: 20px;
  /* separación entre tarjetas */
}

#categorySelect{
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.2s, box-shadow 0.2s;

}

#categorySelect-label{
font-size: 30px;
}