:root {
  --sidebar-bg: #242A33;
  --sidebar-text: #000;
}

.theme-dark {
  --sidebar-bg: #646566;
  /* color oscuro */
  --sidebar-text: #fff;
}

/* ===============================
   PÁGINA DASHBOARD
   =============================== */
.dashboard-principal-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 22rem;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  transition: background-color 0.6s ease, color 0.6s ease;
  height: 100%;
}

.sidebar h2 {
  margin: 10px 10px 20px 10px;
  color: #00A6C4 !important;
}

.sidebar h2 span {
  margin: 10px 10px 20px 10px;
  color: white;
}

.sidebar h3 {
  margin: 0px 10px;
  color: #00A6C4 !important;

}


.dashboard-wrapper {
  flex: 1;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* centra wrapper horizontalmente si sobra espacio */
}


.category-card {
  background-color: rgba(245, 249, 251, 0.85);
  border-radius: 12px;
  padding: 20px;
  width: 400px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #242A33;
  transition: transform 0.2s, box-shadow 0.2s;
}

.category-card-deleted {
  background: #860505;
  color: #860505;
  opacity: 0.4;
  box-shadow: 0 0 8px rgba(70, 5, 5, 0.651);
  margin: 20px;
}

/* LISTADO MIEMBROS */

.member-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* círculo */
  object-fit: cover;
  margin-right: 8px;
}

.family-item {
  background-color: #dfd4d400;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 8px;

}

.member-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  background-color: rgba(245, 249, 251, 0.445);
  color: #1a0b42b9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.members-list {
  list-style: none;
  padding: 30px 0;
  margin: 30px 20px 0;
  border-top: #868080 1px solid;
  border-bottom: #868080 1px solid;
}



.active-member {
  background-color: #ffffffe0;
  border-radius: 8px;
  cursor: pointer;
}

.member-item:hover,
.family-item:hover {
  background-color: #eef7f5bd;

}


/* DAYQUOTE */
.dayQuote-div {
  padding: 10px 30px;
  font-style: italic;
  background: linear-gradient(135deg, rgba(255, 169, 234, 0.281), rgba(255, 214, 165, 0.9));
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(235, 226, 226, 0.753);
  text-align: center;
  margin: 20px auto;
}

.dayQuote-title {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.dayQuote-text {
  font-size: 1.5rem;
  font-family: "Georgia", serif;
  color: #222;
  margin: 0 0 10px 0;
}

.dayQuote-author {
  font-size: 1rem;
  color: #444;
  font-style: normal;
}