

/* ===============================
   PÁGINA DASHBOARD
   =============================== */
.dashboard-principal-container {
  display: flex;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-barra {
  width: 400px; 
  margin-right: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  position: sticky; /* se queda visible al hacer scroll */
  top: 20px;
}

.dashboard-wrapper {
  flex: 1;
  max-width: 900px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto; /* centra wrapper horizontalmente si sobra espacio */
}


.category-card {
  background-color: rgba(245, 249, 251, 0.85);
  border-radius: 12px;
  padding: 20px;
  width: 400px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #242A33;
  transition: transform 0.2s, box-shadow 0.2s;
}


/* Listado miembros */
.members-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.member-item {
  background-color: rgba(245, 249, 251, 0.85);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


/* DAYQUOTE */
.dayQuote-div {
  padding: 10px 30px;
  font-style: italic;
  background: linear-gradient(135deg, rgba(255, 169, 234, 0.281), rgba(255, 214, 165, 0.9));
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(235, 226, 226, 0.753);
  text-align: center;
  margin: 20px auto;
}

.dayQuote-title {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.dayQuote-text {
  font-size: 1.5rem;
  font-family: "Georgia", serif;
  color: #222;
  margin: 0 0 10px 0;
}

.dayQuote-author {
  font-size: 1rem;
  color: #444;
  font-style: normal;
}
