

/* ===============================
   PÁGINA DASHBOARD
   =============================== */

.category-card {
  background-color: rgba(245, 249, 251, 0.85);
  /* fondo claro semitransparente */
  border-radius: 12px;
  padding: 20px;
  width: 400px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra ligera */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #242A33;
  /* texto oscuro */
  transition: transform 0.2s, box-shadow 0.2s;
}


/* Listado miembros */
.members-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.member-item {
  background-color: rgba(245, 249, 251, 0.85);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
