/* ===============================
   PÁGINA GOALS
   =============================== */


/* .goals-page-wrapper {
  padding: 10%;
  padding: 4%;
  position: fixed;      /* fijo en la ventana */
  /* top: 150px;               
  left: 20px;             
  width: 50%;         
  z-index: 1000;        /* encima del resto del contenido */
  /* padding: 20px;        
  overflow: auto;  
} */

.select_month {
  margin-bottom: "20px";
  padding: 10px
}

/* Contenedor principal */
.historico_goals_container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  min-width: 600px;
  /* permite que las tarjetas se muevan a la siguiente línea */
  gap: 20px;
  /* separación entre tarjetas */
}


.goal-form-wrapperNULL {
  /* background-color: rgba(214, 229, 230, 0.452); */
  padding: 20px;
  border-radius: 10px;
}
.goal-listActual{
background-color: rgba(214, 229, 230, 0.452);
  border-radius: 12px;
  padding: 20px;
  min-width: 500px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #242A33;
  transition: transform 0.2s, box-shadow 0.2s;
}
.goals_card {
  background-color: rgba(214, 229, 230, 0.452);
  border-radius: 12px;
  padding: 20px;
  min-width: 450px;
  max-width: 500px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #242A33;
  transition: transform 0.2s, box-shadow 0.2s;
}
.goal-info {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: nowrap;
}
.goal-info button {
  background-color: transparent;
}
#goal_no_archieved {
  background-color: rgba(105, 13, 48, 0.5);
  color: #ffffff;

}

.goal-edit-form{
    border: 1px solid #666;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  background: #F5F9FB;

}

.goal-edit-form input {
  margin: 5px 0px;
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid #D9E2EC;
  width: 95%;
}

/* Botones editar */
.goal-divEdit-buttons {
  display: flex;
  justify-content: space-around;
}

.goal-divEdit-buttons button {
  padding: 8px;
  color: black;
}

.goal-divEdit-buttons button:hover {
  padding: 8px;
}
.goal-edit-form button {
  padding: 6px 12px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: rgb(13, 79, 95);
}

