/* ===============================
   PÁGINA GOALS
   =============================== */

.select_month {
  margin-bottom: "20px";
  padding: 10px
}

/* Contenedor principal */
.historico_goals_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
  /* permite que las tarjetas se muevan a la siguiente línea */
  gap: 20px;
  /* separación entre tarjetas */
  justify-content: center;
}

.general-containerGoal{
  display: flex;
  justify-content: right;
  margin-bottom: 0px;
  margin-top: 20px;
}
.goal-form-wrapperNULL {
  /* background-color: rgba(214, 229, 230, 0.452); */
  padding: 20px;
  border-radius: 10px;
}
.goals-header-btn{
  display: flex;
  justify-content: space-between;
}
.goal-listActual {
  background-color: rgba(214, 229, 230, 0.452);
  border-radius: 12px;
  padding: 20px;
  min-width: 500px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #242A33;
  transition: transform 0.2s, box-shadow 0.2s;
}

.wrapper_goals_card {
  padding: 20px;
  min-width: 500px;
  display: flex;
  justify-content: center;
}

.goal_card {
  background-color: rgba(214, 229, 230, 0.452);
  border-radius: 12px;
  padding: 20px;
  min-width: 450px;
  max-width: 500px;
  height: 100px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #242A33;
  transition: transform 0.2s, box-shadow 0.2s;
}

.goal_card h4,
h5 {

  color: #0c0438;
  text-align: center;

}
.goals-card-col{
margin-bottom: 20px;
}
.goal-info button {
  background-color: transparent;
}

#goal_no_archieved .goal_card {
  background-color: #a7050571 !important;
  align-items: center;
}

#goal_no_archieved .goal_card h4,
#goal_no_archieved .goal_card h5 {
  color: #ffffff;
}


.goal-edit-form {
  border: 1px solid #666;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  background: #F5F9FB;

}

.goal-edit-form input {
  margin: 5px 0px;
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid #D9E2EC;
  width: 95%;
}

/* Botones editar */
.goal-divEdit-buttons {
  display: flex;
  justify-content: space-around;
}

.goal-divEdit-buttons button {
  padding: 8px;
  color: black;
}

.goal-divEdit-buttons button:hover {
  padding: 8px;
}

.goalBtn {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.goals-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.goals-card-col {
  background: #ffffff6c;
  border-radius: 10px;
  padding: 20px;
}

.h2-goal-title {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 40px;

}

.Add-goal-Button{
  margin-bottom: 10px;
}

