/* ===============================
   PÁGINA GOALS
   =============================== */

.pageH2 {
  color: #ffffff;
  padding: "20px";
}

.goals-page-wrapper {
  padding: 10%;
}

.select_month {
  margin-bottom: "20px";
  padding: 10px
}

/* Contenedor principal */
.historico_goals_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* permite que las tarjetas se muevan a la siguiente línea */
  gap: 20px;
  /* separación entre tarjetas */
}


.goal-form-wrapper {
  /* background-color: rgba(214, 229, 230, 0.452); */
  padding: 20px;
  border-radius: 10px;
}

.goals_card {
  background-color: rgba(214, 229, 230, 0.452);
  /* fondo claro semitransparente */
  border-radius: 12px;
  padding: 20px;
  min-width: 500px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra ligera */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #242A33;
  /* texto oscuro */
  transition: transform 0.2s, box-shadow 0.2s;
}

#goal_no_archieved {
  background-color: rgba(105, 13, 48, 0.5);
  color: #ffffff;

}