/* ===============================
   HOME - PANTALLA DIVIDIDA
   =============================== */
.homeContainer {
  display: flex;
  flex: 1;
  height: 60%;
  width: 100%;
  margin-top: 0;
}

/* Panel izquierdo (informativo o presentación) */
.left-panel {
  flex: 1;
  background: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 200px; */
  width: 100%;
}

.left-panel h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.left-panel p {
  font-size: 18px;
  letter-spacing: 2px;
}

/* Panel derecho (login/Signup) */
.right-panel {
  flex: 1;
  background: #f0f4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;

}


.right-panel button {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #00A6C4;
  color: white;
  transition: background 0.3s;
  width: 200px;
}

.right-panel button:hover {
  background-color: #07355c;
  /* rosa degradado */
}

/*===============================
   SALUDO HOME
   =============================== */


.saludoHome {
  margin: 100px;
  padding-top: 100px;
  color: #f1f7f8;
  font-style: oblique;
  font-size: 40px !important;
}

/*===============================
    LOGO
   =============================== */

#homeLogo {
  width: 800px;
  /* tamaño normal */
  max-width: 100%;
}