/* ===============================
   TIPO DE LETRA POR GOOGLE FONTS
   =============================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


/* ===============================
   VARIABLES Y CONFIGURACIÓN GLOBAL
   =============================== */
:root {
  --app-font: "Poppins", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===============================
   ESTILOS POR DEFECTO
   =============================== */
html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;  /* Asegura que no hereda display flex */
  font-family: var(--app-font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* ===============================
   BOTONES GENERALES
   =============================== */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* ===============================
   CONTENEDORES PRINCIPALES (ROOT + APP)
   =============================== */
#root {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}


/* Contenedor neutro: ocupa pantalla completa */
.routes-container {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* para que el padding no aumente el tamaño total */
  flex: 1;
  /* permite que crezca */
  margin-top: 0px;
  /* espacio para el navbar, antes 20px */
  /* overflow-y: auto;  */
  z-index: 0;
  /* scroll si excede la altura */
}


/* POPUP */
/* Fondo oscuro detrás del popup */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Caja central del popup */
.modal-content {
  background: #bcdfe4;
  padding: 25px;
  width: 400px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(95, 88, 88, 0.7);
  animation: popupFade 0.2s ease-out;
}

/* Animación suave */
@keyframes popupFade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-form input,
.modal-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal-buttons button:nth-child(1) {
  background: #00A6C4;
  color: white;
}

.modal-buttons button:nth-child(2) {
  background: #b74444;
  color: white;
}

/* Botón flotante */
.Add-goal-Button {
  background: transparent;
  color: white;
  border: none;
  padding: 12px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.Add-goal-Button:hover {
  background: #ffffff;
}
