/* ===============================
   INGRESOS CARD
   =============================== */
.categoryIngresos-wrapper{
  /* display: flex;
  justify-content: center; */
}

.ingresos-card {
  background-color: rgba(233, 237, 238, 0.85);
  /* fondo claro semitransparente */
  border-radius: 12px;
  padding: 20px;
  min-width: 500px;
  max-width: 600px;
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra ligera */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #242A33;
  /* texto oscuro */
  transition: transform 0.2s, box-shadow 0.2s;
  /* margin-right: 20px; */
}

.ingresos-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.ingresos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ingresos-header h3 {
  margin: 0;
  font-weight: 600;
  color: #242A33;
}


/* Botón Añadir en esquina inferior derecha */
.add-ingresos-btn {
  /* align-self: flex-end; */
  /* margin-top: 10px; */
  /* padding: 6px 12px; */
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #00A6C4;
  /* azul principal */
  color: white;
  transition: background 0.3s;
}

/* Media query para pantallas pequeñas <= 768px */
@media (max-width: 768px) {
  .ingresos-card {
    min-width: 400px;
  /* texto oscuro */
  transition: transform 0.2s, box-shadow 0.2s;

}
  
}