
/* ===============================
   LOGIN - SIGNUP
   =============================== */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  /* ocupa al menos todo el body */
  padding: 40px 0;
  /* opcional, para que haya espacio arriba y abajo */
}

.error-text {
  color: red;
  font-weight: 500;
  margin-top: 10px;
}

.info-text {
  color: rgb(10, 107, 7);
  font-weight: 500;
  margin-top: 10px;
}